@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #09131e;

  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-u-header.is-open .o-u-header-background {
  left: 0;
}
.o-u-header-button-wrapper {
  margin-left: auto;
}
.o-u-header-icon {
  display: none;
}

.o-u-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-u-navigation-list.is-open {
  right: 0;
}
.o-u-header-icon-menu {
  display: block;
}

.o-u-header-icon-button.is-open .o-u-header-icon-menu {
  display: none;
}

.o-u-header-icon-button.is-open .o-u-header-icon-close {
  display: block;
}

.o-u-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 52px;
  box-shadow: 8px 8px 16px 0px #5b5b5b1f;
  background: #080a0a;
}

.o-u-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  box-shadow: 8px 8px 16px 0px #5b5b5b1f;
  background: #080a0a;
}
.o-u-header.is-open .o-u-header-background {
  left: 0;
}
.o-u-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-u-header-icon-menu {
  display: block;
}

.o-u-header-icon-button.is-open .o-u-header-icon-menu {
  display: none;
}

.o-u-header-icon-button.is-open .o-u-header-icon-close {
  display: block;
}

.o-u-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 6px 16px;
  position: relative;
}

.o-u-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 189px 32px;

  gap: 36px;
  background: #080a0a;
}

.o-u-navigation-list.is-open {
  right: 0;
}

.o-u-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #d3d8e0;
}

.o-u-navigation-link:hover,
.o-u-navigatioт-link:focus {
  color: #ffffff;
}

.o-u-header.is-open {
  background-color: transparent;
}

.o-u-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .o-u-navigation-img {
    display: block;
    margin-right: 302px;
  }
  .o-u-policy-terms-header-icon-menu {
    display: none;
  }
  .o-u-header-button-wrapper {
    display: none;
  }
  .o-u-header {
    width: 100%;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-u-header-icon-button {
    display: none;
  }
  .o-u-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .o-u-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 48px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-u-navigation-link {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .o-u-navigation-link:hover,
  .o-u-navigation-link:focus {
  }

  .o-u-navigation-item-desk {
    display: none;
  }
}

.o-u-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero_Section.png");
  margin: auto;
}
.o-u-home-container {
  padding: 510px 16px 0px;
  margin: auto;
}

.o-u-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.o-u-home-title-img {
  width: 342px;
}
.o-u-home-title {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.o-u-home-img {
  width: 343px;
  background: #deaf5d;

  border-radius: 15px;

  transition: all 0.3s ease-in-out;
}

.o-u-home-img:hover {
  transform: scale(1.1);
  background: #cb9c49;
}

@media screen and (min-width: 1200px) {
  .o-u-home {
    width: auto;

    background-image: url("/img/Hero_Section\ \(1\).png");
  }
  .o-u-home-container {
    padding: 370px 499px 0px;
  }
  .o-u-home-container-top {
  }
  .o-u-home-title-img {
    width: 441px;
  }
  .o-u-home-title {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .o-u-home-img {
    content: url("/img/11.png");
    width: 244px;
    background: #deaf5d;
    height: 69px;
    border-radius: 15px;

    transition: all 0.3s ease-in-out;
  }
}
.o-u-about {
  margin: auto;
  width: 375px;
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section.png");
}
.o-u-about-container {
  width: 375px;
  padding: 64px 16px 0px;
  margin: auto;
}
.o-u-about-title {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #c7f3fb;
  border: 1px solid #c7f3fb;
  width: fit-content;
  text-align: center;
  border-radius: 50px;
  padding: 8px 0px;
  width: 150px;
}
.o-u-about-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #cdeff5;
  padding: 16px 0 24px;
}

.o-u-about-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #d3d8e0;
}

@media screen and (min-width: 1200px) {
  .o-u-about {
    width: 1440px;
    height: 517px;
    background-image: url("/img/Section\ \(1\).png");
  }
  .o-u-about-container {
    width: 1440px;
    padding: 120px 512px 0 176px;
  }

  .o-u-about-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: justify;
  }

  .o-u-about-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;
  }
}

.o-u-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.o-u-about-title-why {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 62px;
  leading-trim: NONE;
  line-height: 88%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
  margin-bottom: -8px;
  color: #4c7e98;
  text-shadow: 0px 0px 20px #6bd5ff29;
}
.o-u-why-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.o-u-why-item {
  background: #ffffff1a;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;

  border-radius: 16px;
  padding: 16px;
}
.o-u-why-item-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}
.o-u-why-img {
  width: 311px;
}
.o-u-why-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #4c7e98;
}
.o-u-why-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}
.o-u-why-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-u-why-container {
    width: 1440px;
    padding: 104px 176px;
  }
  .o-u-about-title-why {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 192px;
    leading-trim: NONE;
    line-height: 88%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 16px;
    margin-bottom: -30px;
    color: #4c7e98;
    text-shadow: 0px 0px 20px #6bd5ff29;
  }
  .o-u-why-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .o-u-why-item {
    flex-direction: row;
    gap: 64px;
    border-radius: 16px;
    padding: 16px;
  }
  .o-u-why-item-two {
    width: 352px;
    padding: 24px;
  }
  .o-u-why-img {
    width: 640px;
  }
  .o-u-why-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .o-u-why-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .o-u-why-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.o-u-uniqueness {
  margin: auto;
  width: 375px;
  height: 657px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(2\).png");
}
.o-u-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
}
.o-u-uniqueness-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #cdeff5;
  padding: 16px 0 24px;
}
.o-u-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
  margin-left: 20px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-u-uniqueness {
    width: 1440px;
    height: 567px;
    background-image: url("/img/Section\ \(3\).png");
  }
  .o-u-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 104px 768px 0 167px;
  }
  .o-u-uniqueness-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 16px 0 24px;
  }
  .o-u-uniqueness-list {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}
.o-u-reviews-container {
  margin: auto;
  padding: 40px 16px;
  width: 375px;
}
.o-u-about-title-reviews {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #cdeff5;
  padding: 16px 0 40px;
}

.o-u-reviews-item {
  width: 343px;
  height: 283px;
  backdrop-filter: blur(20px);
  border: 1px solid #415050;
  background: #ffffff1a;

  border-radius: 16px;

  padding: 40px;

  margin: 0 5px;
}
.o-u-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  height: 75px;
}
.o-u-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 56px;
}
.o-u-reviews-img {
  width: 72px;
}
.o-u-reviews-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.o-u-reviews-text-bold-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #d3d8e0;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .o-u-reviews-container {
    margin: auto;
    padding: 104px 176px;
    width: 1440px;
  }
  .o-u-about-title-reviews {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 16px 0 64px;
  }

  .o-u-reviews-item {
    width: 340px;
    height: 283px;
    border-radius: 16px;
    padding: 40px;

    margin: 0 16px;
  }
  .o-u-reviews-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    height: 75px;
  }
}

.o-u-faq {
  margin: auto;
  width: 375px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(4\).png");
}
.o-u-faq-container {
  padding: 40px 16px 0px;
  margin: auto;
}
.o-u-faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-u-faq-item {
  border: 1px solid #4c7e98;
  background: #ffffff1a;
  backdrop-filter: blur(20px);

  padding: 19px 22px;

  border-radius: 8px;
}

.o-u-faq-question {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.o-u-faq-answer {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  width: 263px;
}
.o-u-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-u-toggle-button img {
  width: 32px;
  transition: transform 0.3s ease;
}
.o-u-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-u-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-u-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .o-u-faq {
    width: 1440px;

    background-image: url("/img/Section\ \(5\).png");
  }
  .o-u-faq-container {
    padding: 104px 400px;
  }
  .o-u-faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-u-faq-item {
    border: 1px solid #4c7e98;
    background: #ffffff1a;

    padding: 20px 24px;

    border-radius: 8px;
  }

  .o-u-faq-question {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .o-u-faq-answer {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    width: 560px;
  }
}

.o-u-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.o-u-gallery-list {
}

.o-u-gallery-item {
  width: 343px;
  height: 193px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.o-u-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-u-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding-top: 24px;
}

.o-u-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.o-u-gallery-button-icon {
  width: 40px;
}
.o-u-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .o-u-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 104px 176px;
  }
  .o-u-gallery-item {
    width: 528px;
    height: 297px;

    border-radius: 16px;

    margin: 0 16px;
  }

  .o-u-gallery-list {
  }
}

.o-u-features {
  margin: auto;
  width: 375px;
  padding: 40px 16px 64px;
}
.o-u-features-container {
  border-radius: 12px;
  padding: 40px;

  background: linear-gradient(180deg, #283f4b 0%, #09131e 100%);
}

.o-u-features-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #cdeff5;
  padding: 15px 0 24px;
}

.o-u-features-link {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #c7f3fb;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media screen and (min-width: 1200px) {
  .o-u-features {
    margin: auto;
    width: 1440px;
    padding: 104px 176px 120px;
  }

  .o-u-features-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    padding: 15px 0px 24px;
  }

  .o-u-features-link {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-u-policy-terms-container {
  padding: 112px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.o-u-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.o-u-policy-terms-container h2 {
  margin: 24px 0 16px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.o-u-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.o-u-email-link {
  color: #5560ff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .o-u-policy-terms-container {
    padding: 182px 212px 120px;
    width: 1440px;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .o-u-policy-terms-container h1 {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-u-policy-terms-container h2 {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 16px 0;
  }
  .o-u-policy-terms-container p {
  }
}

.o-u-footer-container {
  width: 375px;
  background: #080a0a;

  padding: 60px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.o-u-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.o-u-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.o-u-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #d3d8e0;
}

@media screen and (min-width: 1200px) {
  .o-u-footer-container {
    width: 1440px;
    padding: 60px 88px;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    gap: 60px;
  }

  .o-u-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 60px;
  }

  .o-u-footer-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }

  .o-u-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}
